.image{
    background-image: url("../../assets/pictures/green-background.jpg");
    background-position: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-size:100%; 
    alt:"Responsive image";
}

