<div class="game-body">
  <div class="title">
    <h1 class="page-title">Cambio</h1>
    <div class="game-info">
      <!-- <div>Time <span id="time-remaining">100</span></div>  -->
    </div>
  </div>
  <div class="DeckOfCards" id="DeckOfCards">
    <app-card></app-card>
  </div>
  <div class="BurntCard">
    <template #usedCard></template>
  </div>

  <div class="yourCardTurn">
    <template #CardTurn></template>
  </div>

  <div class="card-game-all">
    <div class="computer">
      <div class="game-container">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
      </div>
    </div>
    <div class="play">
      <div class="game-container">
        <template #cardsContainer></template>
      </div>
      <div class="btn-group">
        <button class="exitgame" (click)="exitGame()">Exit Game</button>
        <button class="cambio-btn" (click)="checkWinner()"></button>
      </div>
   
     
    </div>
  </div>
</div>
