<div class="title">
  <h1 class="page-title">Cambio</h1>
  <div class="game-info">
    <div>Time <span id="time-remaining">100</span></div>
    <div>Flips <span id="flips">0</span></div>
  </div>
</div>
<div class="DeckOfCards">
    


</div>
<div class="BurntCard">

  
</div>
<div class="card-game-all">
  <div class="computer">
    <div class="game-container">
      <div class="card ">
        <div class="card-back card-face">
          <img
            src="../../assets/pictures/Red hurt.png"
            class="cob-web cob-web-top-left"
          />
          <img
            src="../../assets/pictures/Black.png"
            class="cob-web cob-web-top-right"
          />
          <img
            src="../../assets/pictures/Black Hurt.png"
            class="cob-web cob-web-bottom-left"
          />
          <img
            src="../../assets/pictures/red m.png"
            class="cob-web cob-web-bottom-right"
          />
          <div class="spider">Cambio</div>
          <!-- <img src="../../assets/pictures/Spider.png" class="spider" /> -->
        </div>
        <div class="card-front card-face">
          <img
            src="../../assets/pictures/Red hurt.png"
            class="cob-web cob-web-top-left"
          />
          <img
            src="../../assets/pictures/Black.png"
            class="cob-web cob-web-top-right"
          />
          <img
            src="../../assets/pictures/Black Hurt.png"
            class="cob-web cob-web-bottom-left"
          />
          <img
            src="../../assets/pictures/red m.png"
            class="cob-web cob-web-bottom-right"
          />
          <div class="spider">Naor</div>
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <img
            src="../../assets/pictures/Red hurt.png"
            class="cob-web cob-web-top-left"
          />
          <img
            src="../../assets/pictures/Black.png"
            class="cob-web cob-web-top-right"
          />
          <img
            src="../../assets/pictures/Black Hurt.png"
            class="cob-web cob-web-bottom-left"
          />
          <img
            src="../../assets/pictures/red m.png"
            class="cob-web cob-web-bottom-right"
          />
          <div class="spider">Cambio</div>
          <!-- <img src="../../assets/pictures/Spider.png" class="spider" /> -->
        </div>
        <div class="card-front card-face">
          <img
            src="../../assets/pictures/Red hurt.png"
            class="cob-web cob-web-top-left"
          />
          <img
            src="../../assets/pictures/Black.png"
            class="cob-web cob-web-top-right"
          />
          <img
            src="../../assets/pictures/Black Hurt.png"
            class="cob-web cob-web-bottom-left"
          />
          <img
            src="../../assets/pictures/red m.png"
            class="cob-web cob-web-bottom-right"
          />
          <div class="spider">Cambio</div>
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <img
            src="../../assets/pictures/Red hurt.png"
            class="cob-web cob-web-top-left"
          />
          <img
            src="../../assets/pictures/Black.png"
            class="cob-web cob-web-top-right"
          />
          <img
            src="../../assets/pictures/Black Hurt.png"
            class="cob-web cob-web-bottom-left"
          />
          <img
            src="../../assets/pictures/red m.png"
            class="cob-web cob-web-bottom-right"
          />
          <div class="spider">Cambio</div>
          <!-- <img src="../../assets/pictures/Spider.png" class="spider" /> -->
        </div>
        <div class="card-front card-face">
          <img
            src="../../assets/pictures/Red hurt.png"
            class="cob-web cob-web-top-left"
          />
          <img
            src="../../assets/pictures/Black.png"
            class="cob-web cob-web-top-right"
          />
          <img
            src="../../assets/pictures/Black Hurt.png"
            class="cob-web cob-web-bottom-left"
          />
          <img
            src="../../assets/pictures/red m.png"
            class="cob-web cob-web-bottom-right"
          />
          <div class="spider">Cambio</div>
        </div>
      </div>
      <div class="card">
        <div class="card-back card-face">
          <img
            src="../../assets/pictures/Red hurt.png"
            class="cob-web cob-web-top-left"
          />
          <img
            src="../../assets/pictures/Black.png"
            class="cob-web cob-web-top-right"
          />
          <img
            src="../../assets/pictures/Black Hurt.png"
            class="cob-web cob-web-bottom-left"
          />
          <img
            src="../../assets/pictures/red m.png"
            class="cob-web cob-web-bottom-right"
          />
          <div class="spider">Cambio</div>
          <!-- <img src="../../assets/pictures/Spider.png" class="spider" /> -->
        </div>
        <div class="card-front card-face">
          <img
            src="../../assets/pictures/Red hurt.png"
            class="cob-web cob-web-top-left"
          />
          <img
            src="../../assets/pictures/Black.png"
            class="cob-web cob-web-top-right"
          />
          <img
            src="../../assets/pictures/Black Hurt.png"
            class="cob-web cob-web-bottom-left"
          />
          <img
            src="../../assets/pictures/red m.png"
            class="cob-web cob-web-bottom-right"
          />
          <div class="spider">Cambio</div>
        </div>
      </div>
    </div>
  </div>
  <div class="play">
    <div class="game-container">
      <div class="card ">
        <div class="card-back card-face">
          <img
            src="../../assets/pictures/Red hurt.png"
            class="cob-web cob-web-top-left"
          />
          <img
            src="../../assets/pictures/Black.png"
            class="cob-web cob-web-top-right"
          />
          <img
            src="../../assets/pictures/Black Hurt.png"
            class="cob-web cob-web-bottom-left"
          />
          <img
            src="../../assets/pictures/red m.png"
            class="cob-web cob-web-bottom-right"
          />
          <div class="spider">Cambio</div>
          <!-- <img src="../../assets/pictures/Spider.png" class="spider" /> -->
        </div>
        <div class="card-front card-face">
          <img
            src="../../assets/pictures/Red hurt.png"
            class="cob-web cob-web-top-left"
          />
          <img
            src="../../assets/pictures/Black.png"
            class="cob-web cob-web-top-right"
          />
          <img
            src="../../assets/pictures/Black Hurt.png"
            class="cob-web cob-web-bottom-left"
          />
          <img
            src="../../assets/pictures/red m.png"
            class="cob-web cob-web-bottom-right"
          />
          <div class="spider">Naor</div>
        </div>
      </div>
      <div class="card ">
        <div class="card-back card-face">
          <img
            src="../../assets/pictures/Red hurt.png"
            class="cob-web cob-web-top-left"
          />
          <img
            src="../../assets/pictures/Black.png"
            class="cob-web cob-web-top-right"
          />
          <img
            src="../../assets/pictures/Black Hurt.png"
            class="cob-web cob-web-bottom-left"
          />
          <img
            src="../../assets/pictures/red m.png"
            class="cob-web cob-web-bottom-right"
          />
          <div class="spider">Cambio</div>
          <!-- <img src="../../assets/pictures/Spider.png" class="spider" /> -->
        </div>
        <div class="card-front card-face">
          <img
            src="../../assets/pictures/Red hurt.png"
            class="cob-web cob-web-top-left"
          />
          <img
            src="../../assets/pictures/Black.png"
            class="cob-web cob-web-top-right"
          />
          <img
            src="../../assets/pictures/Black Hurt.png"
            class="cob-web cob-web-bottom-left"
          />
          <img
            src="../../assets/pictures/red m.png"
            class="cob-web cob-web-bottom-right"
          />
          <div class="spider">Naor</div>
        </div>
      </div>
      <div class="card ">
        <div class="card-back card-face">
          <img
            src="../../assets/pictures/Red hurt.png"
            class="cob-web cob-web-top-left"
          />
          <img
            src="../../assets/pictures/Black.png"
            class="cob-web cob-web-top-right"
          />
          <img
            src="../../assets/pictures/Black Hurt.png"
            class="cob-web cob-web-bottom-left"
          />
          <img
            src="../../assets/pictures/red m.png"
            class="cob-web cob-web-bottom-right"
          />
          <div class="spider">Cambio</div>
          <!-- <img src="../../assets/pictures/Spider.png" class="spider" /> -->
        </div>
        <div class="card-front card-face">
          <img
            src="../../assets/pictures/Red hurt.png"
            class="cob-web cob-web-top-left"
          />
          <img
            src="../../assets/pictures/Black.png"
            class="cob-web cob-web-top-right"
          />
          <img
            src="../../assets/pictures/Black Hurt.png"
            class="cob-web cob-web-bottom-left"
          />
          <img
            src="../../assets/pictures/red m.png"
            class="cob-web cob-web-bottom-right"
          />
          <div class="spider">Naor</div>
        </div>
      </div>
      <div class="card ">
        <div class="card-back card-face">
          <img
            src="../../assets/pictures/Red hurt.png"
            class="cob-web cob-web-top-left"
          />
          <img
            src="../../assets/pictures/Black.png"
            class="cob-web cob-web-top-right"
          />
          <img
            src="../../assets/pictures/Black Hurt.png"
            class="cob-web cob-web-bottom-left"
          />
          <img
            src="../../assets/pictures/red m.png"
            class="cob-web cob-web-bottom-right"
          />
          <div class="spider">Cambio</div>
          <!-- <img src="../../assets/pictures/Spider.png" class="spider" /> -->
        </div>
        <div class="card-front card-face">
          <img
            src="../../assets/pictures/Red hurt.png"
            class="cob-web cob-web-top-left"
          />
          <img
            src="../../assets/pictures/Black.png"
            class="cob-web cob-web-top-right"
          />
          <img
            src="../../assets/pictures/Black Hurt.png"
            class="cob-web cob-web-bottom-left"
          />
          <img
            src="../../assets/pictures/red m.png"
            class="cob-web cob-web-bottom-right"
          />
          <div class="spider">Naor</div>
        </div>
      </div>
    </div>
  </div>
