<div class="card" id="{{id}}">
  <div *ngIf="!status"  [@ngClass]="status ? 'card-front':'card-back'" class="card-face" [@rotatedState]='state'>
    <img
      src="../../assets/pictures/Red hurt.png"
      class="cob-web cob-web-top-left"
    />
    <img
      src="../../assets/pictures/Black.png"
      class="cob-web cob-web-top-right"
    />
    <img
      src="../../assets/pictures/Black Hurt.png"
      class="cob-web cob-web-bottom-left"
    />
    <img
      src="../../assets/pictures/red m.png"
      class="cob-web cob-web-bottom-right"
    />
    <div class="spider">Cambio</div>
    <!-- <img src="../../assets/pictures/Spider.png" class="spider" /> -->
  </div>
  <div *ngIf="status"  [@ngClass]="status ? 'card-back':'card-front'" [@rotatedState]='state'>
  <img [src]="card?.cardpic" style="width: 110px; height: 160px;"/>
  </div>
</div>