@font-face {
    font-family: "Creepy";
    src: url("../../assets/Fonts/Creepy.woff") format("woff"),
      url("../../assets/Fonts/Creepy.woff2") format("woff2");
  }
  @font-face {
    font-family: "Lunacy";
    src: url("../../assets/Fonts/Lunacy.woff") format("woff"),
      url("../../assets/Fonts/Lunacy.woff2") format("woff2");
  }
  


 
 

 

 

 
  .card {
    position: relative;
    border: 1px solid red;
    background-color: white;
    height: 160px;
    width: 110px;
  }
  
  .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
  }
  .card.visible .card-back {
    transform: rotateY(-180deg);
  }
  .card.visible .card-front {
    transform: rotateY(0);
  }
  .card-back {
    background-color: white;
    border-color: black;
  }
  .card-front {
    transform: rotateY(180deg);
  }
  .cob-web {
    position: absolute;
    width: 25px;
    height: 25px;
    transition: width 100ms ease-in-out, height 100ms ease-in-out;
  }
  .card-back:hover .cob-web {
    width: 33px;
    height: 33px;
  }
  .cob-web-top-left {
    top: 0;
    left: 0;
  }
  .cob-web-top-right {
    top: 0;
    right: 0;
  }
  .cob-web-bottom-right {
    bottom: 0;
    right: 0;
  }
  .cob-web-bottom-left {
    bottom: 0;
    left: 0;
  }
  .spider {
    color: #389203;
    font-family: Creepy, serif;
    font-weight: normal;
    text-align: center;
    font-size: 2em;
    align-self: flex-start;
    transform: translateY(65px);
    transition: transform 100ms ease-in-out;
  }
  .card-back:hover .spider {
    font-size: 2.5em;
  }