h1 {
  margin-top: 10px;
  color: whitesmoke;
  text-align: center;
  font-style: oblique;
}
div.container {
  height: 525px;
  width: 450px;
  margin-top: 100px;
  background: rgba(41, 41, 38, 0.82);
}
.box {
  margin-top: 40px;
}
.field {
  height: 50px;
  width: 175px;
  margin-left: 25px;
  padding: 5px;
  background: rgba(41, 41, 38, 0.82);
  border-style: solid;
  border-width: thin;
  border-color: #e88955;
}

::placeholder {
  color: white;
  font-style: oblique;
}
input {
  color: white;

  font-style: oblique;
}
input:focus {
  outline: none;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

#btn1 {
  background-color: #e88955;
  border-color: rgba(49, 47, 45, 0.63);
  font-style: oblique;
  margin-left: 35%;
  width: 150px;
  height: 50px;
  margin-top: 10px;
}
a {
  color: white;
}
